# Ignore Python cache
__pycache__/
*.pyc

# Ignore Node modules
node_modules/

# Ignore environment/config files
.env
.env.*

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore build/dist folders
dist/
build/
